@import url();
/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
/* CSS Variables */
:root {
    --bg-color: #000000;
    --second-bg-color: #11db76;
    --text-color: #ffffff;
    --main-color: #11da9a;
}
/* Base HTML Settings */
html {
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    padding-top: 90px;
}

html::-webkit-scrollbar{
    width: 0.8rem;
}
html::-webkit-scrollbar-track{
    background: var(--bg-color);
}
html::-webkit-scrollbar-thumb{
    background: var(--main-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: rgba( 0, 0, 0, 0.7);
    filter: drop-shadow(0px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: var(--main-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}
.logo:hover{
    transform: scale(1.1);
}
.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

@media (max-width:995px) {
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid var(--main-color);
        border-bottom: 3px solid var(--main-color);
        padding: 1rem 3%;
        background-color: var(--second-bg-color);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .navbar a:hover,
    .navbar a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid var(--main-color);
    }
}
section{
    padding: 8rem 9% 4rem;
    min-height: auto;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background: var(--bg-color);
}
.home .home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}
span{
    color: var(--main-color);
}
.home-img {
    border-radius: 50%;
}
.home-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}
.home-img img {
    position:relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
}
.home-img img:hover {
    transform: scale(1.01);
    filter: drop-shadow(0 0 25px var(--main-color));
}
.home-content p{
    font-size: 1.8rem;
    font-weight: 800;
    text-align: justify;
}
.social-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    color: var(--main-color);
    background: transparent;
    border: 0.2rem solid var(--main-color);
    font-size: 3rem;
    border-radius: 50%;
    column-rule: var(--second-bg-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}
.social-icon a:hover{
    color: black;
    transform: scale(1.3)translateY(-5px);
    background:var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}
.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--bg-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn:hover {
    transform: scale(1.03);
    background-color: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 25px var(--main-color);
}
.typing-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.typing-text span {
    position: relative;
}
.typing-text span::before {
    content: 'software Developer';
    color: var(--main-color);
    animation: word 20s infinite;
}
.typing-text span::after {
    content: '';
    background-color: var(--bg-color);
    position: absolute;
    width: (100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typng 20s steps(14) infinite;
}
@keyframes cursor{
    to{
        border-left: 3px solid var(--main-color);
    }
}
@keyframes words{
    0%, 20%{
    content:'web developer';
    }
    21%, 40%{
    content:'software developer';
    }
    41%, 60%{
    content:' designer';
    }
    61%, 80%{
    content:'AI/ML Engineer';
    }
    81%, 100%{
    content:'web developer';
    }
}
@keyframes typng {
    10%, 15%,
    30%, 35%,
    50%, 55%,
    70%, 75%,
    90%, 95%{
        width: 0;
    }
    5%, 20%,
    25%, 40%,
    45%, 60%,
    65%, 80%, 85%{
        width: calc(100% + 8px);
    }
} 

 .projects h2{
    text-align: center;
    font-size: 25px;
 }
.card {
  background: rgba(49, 108, 76, 0.999);
  backdrop-filter: blur(10px);
  border-radius: 18px;
  padding: 25px;
  margin-bottom: 30px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px) scale(1.01);
  box-shadow: 0 0 25px var(--main-color),
              0 20px 40px rgba(0,0,0,0.6);
}

.card h3 {
    font-size: 16px;
  margin-bottom: 10px;
  color:white;
}
.card p {
  font-size: 14px;
  opacity: 0.85;
  color: black;
}
/* ===== Certificates (Flip Cards) ===== */
.certificates {
  text-align: center;
  font-size: 25px;
}
.certificate-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.cert-card {
  width: 260px;
  height: 180px;
  perspective: 1000px;
  cursor: pointer;
  position: relative;
}
.cert-front,
.cert-back {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 18px;
  backface-visibility: hidden;
  box-shadow: 0 15px 35px rgba(14, 142, 89, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  transition: transform 0.6s ease;
  background: var(--main-color);
}
.cert-front {
  background: var(--main-color);
  flex-direction: column;
}
.cert-front h3 {
  color: #010506;
  margin-bottom: 8px;
}
.cert-front p {
  font-size: 14px;
  opacity: 0.85;
}
.cert-back {
  background: hwb(139 2% 38%);
  transform: rotateY(180deg);
}
.cert-back:hover{
  transform: scale(1.1);
  background: hwb(300 14% 85%);
  transform: rotateY(180deg);
  filter: drop-shadow(0 0 25px var(--main-color));
}
.cert-front:hover{
  transform: scale(1.1);
  filter: drop-shadow(0 0 25px var(--main-color));
}
.cert-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
}
.cert-card.flip .cert-front {
  transform: rotateY(180deg);
}
.cert-card.flip .cert-back {
  transform: rotateY(360deg);
}
/* skills */
.skills {
    justify-content: center;
    text-align: center;
    font-size: 25px;
}
.skills .container {
    background: var(--main-color);
    color: var(--text-color);
    border-radius: 1rem;
    padding: 2rem;
    width: 100%;
    margin: auto;
    cursor: pointer;
    margin-top: 2rem;
    height: 50%;
    transition: 0.6s ease;
}
.skills .container .row{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    flex-wrap: wrap;
    gap: 1.8rem;
}
.skills .container .bar {
    margin-bottom: 15px;
    padding:  10px  10px 10px 10px;
    border-radius: 1rem;
    background: var(--bg-color);
    box-shadow: 0 4px 0px var(--main-color);
    transition: 0.3s ease;
}
.skills .container .bar:hover{
    transform: scale(1.03)translateY(-10px);
    filter: drop-shadow(0 0 25px rgba(6, 66, 231, 0.6));
}
.skills .container .bar .info {
    display: flex;
    flex-direction:column ;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    img {
  width: 50%;
  height: auto;
    }
}
.skills .container .bar .info span {
    font-size: 2rem;
    font-weight: 500;
}
@media(max-width:895px){
    .skills .container {
        margin: 0;
        padding: 0;
    }
    .skills .container .row {
        grid-template-columns: repeat(2, 1fr);
        margin: rem;
        padding: 2rem 0.2rem 2rem 0.2rem;
        gap: 1rem;
    }
    .skills .container {
        margin-top: 5px;
        width: 100px;
    }
}
/* Education section*/
.education {
    text-align: center;
    font-size: 25px;
}
.education .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.education .timeline::after {
    content: ' ';
    position:absolute;
    width: 6px;
    background: rgba(63, 64, 65, 0.6);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -2px;
}
.education .container{
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    cursor: pointer;
    transition: 0.6s ease;
}
.education .container:hover {
    transform: scale(1.02)translateY(-10px);
    filter: drop-shadow(0 0 25px rgba(2, 244, 2, 0.999));
}
.education .container::after {
    content: '\f501';
    position: absolute;
    width: 25px;
    height: 25px;
    line-height: 25px;
    right: -17px;
    background-color: rgba(252 252 252);
    border: 4px solid var(--main-color);
    top: 15px;
    border-radius: 50%;
    z-index: 100%;
    font-size: 1.89rem;
    text-align: center;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(55, 40, 40);
}
.education .left{
    left: 2;
    right: 2%;
}
.education .right{
    left: 52%;
}
/* .education .left::before {
    content: '';
    height: 0;
    position: absolute;
    top: 222px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid var(--main-color);
    border-width: 1px 10px 10px 10px;
    border-color: transparent transparent transparent var(--main-color);
}
.education .right::before {
    content: ' ';
    height: 0;
    position: absolute;
    top: 222px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid var(--main-color);
    border-width: 10px 0px 10px 10px;
    border-color: transparent transparent transparent var(--main-color);
} */
.education .right::after{
    left: -16px;
} 
.education .container {
    background: var(--main-color);
    position: relative;
    border-radius: 6px;
}
.education .container .tag {
    font-size: 1.5rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
}
.education .container .decs {
    margin-left: 1.5rem;
    padding-bottom: rem;
}
.education .container .tag h2 {
    text-align: left;
    font-size: 2.5rem;
    font-weight: 600;
    color: black;
}
.education .container .decs p {
    text-align: left;
    font-size: 1.3rem;
    font-weight: 500;
    color: black;   
}
@media screen  and (max-width: 600px){
    .education.timeline{
        margin-top: 2rem;
    }
    .education.timeline::after{
        left: 31px;
    } 
    .education.container{
        width: 100%;
        padding-left: 8rem;
        padding-right: 2rem;
    } 
    .education.container::after {
        font-size: 2.2rem;
    }
    .education.container::before {
        left: 61px;
        border:medium solid var(--main-color);
        border-width: 10px 10px 10px 0;
        border-color: transparent var(--main-color) transparent transparent;
    }
    .education.left::after{
        left: 15px;
    }
    .education.right::after{
        left: 15px;
    }
    .education.right {
        left: 0%;
    }  
}

@media (max-width: 1285px) {
    html {
        font-size: 55%;
    }
    .certificate-container{
        padding-bottom: 7rem;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 5rem;
    }
}
@media (max-width: 991px){
    .header{
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3% 2rem;
    }
    .certificates{
        padding-bottom: 7rem;
    }
    .footer {
        padding: 2rem 3;
    }
}
@media (max-width: 895px){
    .certificate h2 {
        margin-bottom: 3rem;
    }
    .certificate-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width: 768px) {
    section {
        padding: 7rem 5% 3rem;
    }

    .home {
        flex-direction: column;
        gap: 4rem;
        text-align: center;
    }

    .home-img img {
        width: 70vw;
    }

    .skills .container {
        width: 95%;
    }

    .education .container {
        width: 100%;
        left: 0 !important;
        padding-left: 6rem;
    }

    .education .timeline::after {
        left: 30px;
    }
}
@media (max-width: 480px) {
    html {
        font-size: 55%;
    }

    .navbar {
        width: 100%;
    }

    .home-content h1 {
        font-size: 4.2rem;
    }
}

/*contact section*/
.contact{
    justify-items: center;
}

.contact h2 {
    justify-content: center;
    text-align: center;
    font-size: 45px;
    margin-bottom: 3rem;
    color: white;
}
.contact form {
    justify-content: center;
    max-width: 70rem;
    margin-right: 1rem auto;
    margin-bottom:3rem;
    text-align: center;
}
.contact form .input-box {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea {
    justify-content:center ;
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 0.8rem;
    border: 2px solid var(--main-color);
    margin: 1rem 0;
    resize: none;
}
.contact form .btn{
    margin-top: 2rem;
    justify-items:center ;
}


.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--main-color);
}
.footer .social-icon {
    text-align: center;
    padding-bottom: 25px;
    color: black;
}
.footer .social-icon a {
    font-size: 25px;
    color: black;
    border: 2px solid black;
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease;
}
.footer .social-icon a:hover{
    transform: scale(1.2)translateY(-5px);
    background: black;
    color: var(--main-color);
}
.footer ul {
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: black;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.footer ul li a:hover{
    border-bottom: 3px solid black;
}
.footer ul li {
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright {
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: black;
}
@media (max-width: 600px) {
    .footer ul li {
        display: block;
        margin: 1rem 0;
    }
    
    .footer .social-icon a {
        margin: 0 6px;
    }
}















